{% extends 'base.html' %} {% block title %} Добавить новость {% endblock %}
{% block content %}
{{ prf_btn|safe }}
{{ ext_btn|safe }}
{% endblock %}

{% block body %}
{{ super() }}
<link
  rel="stylesheet"
  href="{{ url_for ('static', filename='styles/addnews.css') }}"
/>

<div class="main-container"></div>

<div class="main-news-block">
  <form action="{{url_for('uploadimage')}}" method="POST" enctype="multipart/form-data">
    <p><input type="file" name="file" class="add-button">
      <div class="news">
        <div class="news-image">
          <img
            src="{{ url_for ('static', filename=img) }}"
            alt="preview"
        />
        </div>
      </div>
    <div class="news-buttons">
      <input type="submit" class="b1" value="Обновить изображение">
    </div>
  </form>
  <br><br>
  <div class="news-buttons">
    <button class="b1">
      <a href="/">На главную</a>
    </button>
  </div>
</div>

<div class="final-div"></div>

{% endblock %}
