{% extends 'base.html' %} 
{% block title %} Работы {% endblock %} 
{% block content %}
{{ prf_btn|safe }}
{{ ext_btn|safe }}
{% endblock %}

{% block body %}
{{ super() }}
<link
  rel="stylesheet"
  href="{{ url_for ('static', filename='styles/catalog.css') }}"
/>

<div class="top-div"></div>
<div class="container">
  <div class="card">
    <a href="/picplug"
      ><img
        class="add-img"
        src="static/files/plus.png"
    /></a>
  </div>
  {% for p in pictures %}
  <div class="card">
    <a href="/showpicture/pic_{{p.pic_id}}", alt='image'
      ><img
        src="/showpicture/pic_{{p.pic_id}}", alt='image'
    /></a>
    <div class="info">
      <a
        class="image-name"
        href="/showpicture/pic_{{p.pic_id}}"
      >
        <p>{{ p.text }}</p>
      </a>
      <button><a href="/editpicture/pic_{{ p.pic_id }}">Редактировать</a></button>
      <button><a href="/deletepicture/pic_{{ p.pic_id }}">Удалить</a></button>
    </div>
  </div>
  {% endfor %}
</div>
<div class="final-div"></div>
{% endblock %}
