{% extends 'base.html' %} 
{% block title %} Работы {% endblock %} 
{% block content %}
{{ prf_btn|safe }}
{{ ext_btn|safe }}
{% endblock %}

{% block body %}
{{ super() }}
<link
  rel="stylesheet"
  href="{{ url_for ('static', filename='styles/catalog.css') }}"
/>

<div class="top-div"></div>
<div class="container">
  <div class="card">
    <a href="/picplug"
      ><img
        class="add-img"
        src="{{ url_for ('static', filename='files/plus.png') }}"
    /></a>
  </div>
  {% for p in pictures %}
  <div class="card">
    <a href="{{ url_for('static', filename=p.img) }}"
      ><img
        src="{{ url_for('static', filename=p.img) }}"
    /></a>
    <div class="info">
      <a
        class="image-name"
        href="{{ url_for('static', filename=p.img) }}"
      >
        <p>{{ p.text }}</p>
      </a>
      <button><a href="/pic_{{ p.pic_id }}/editpicture">Редактировать</a></button>
      <button><a href="/pic_{{ p.pic_id }}/deletepicture">Удалить</a></button>
    </div>
  </div>
  {% endfor %}
</div>
<div class="final-div"></div>
{% endblock %}
