{% extends 'base.html' %} {% block title %} Редактировать "О себе" {% endblock %} 
{% block content %}
{{ prf_btn|safe }}
{{ ext_btn|safe }}
{% endblock %}

{% block body %}
{{ super() }}
<link
  rel="stylesheet"
  href="{{ url_for ('static', filename='styles/addnews.css') }}"
/>

<div class="main-container">
  <div class="main-news-block">
    <form action="{{url_for('uploadphoto')}}" method="POST" enctype="multipart/form-data">
      <p><input type="file" name="file" class="add-button">
        <div class="news">
          <div class="news-image">
            <img
              src="{{url_for('thephoto')}}"
              alt=""
            />
          </div>
        </div>
      <div class="news-buttons">
        <input type="submit" class="b1" value="Обновить изображение">
      </div>
    </form>
    <br>
    <form action="" method="post">   
      <div class="news">
        <div class="news-text">
          Обо мне:
          <div class="news-text_text">
            <textarea name="description" id="description" rows="16" cols="48">{{ description }}</textarea>
          </div>
        </div>
      </div>

      <div class="news-buttons">
        <input type="submit" class="b1" value="Сохранить">
        <button class="b2">
          <a href="/about">Отмена</a>
        </button>
      </div>
    </form>
    
  </div>
</div>

<div class="final-div"></div>

{% endblock %}
