{% extends 'base.html' %} 
{% block title %} Арт-Студия Юрия Пономарёва {% endblock %} 
{% block content %}
{{ prf_btn|safe }}
{{ ext_btn|safe }}
{% endblock %}

{% block body %}
{{ super() }}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='styles/index.css') }}"
/>

<div class="main-container">
  <div class="left-bar">
    <a href="static/files/art-room.png">
      <img src="static/files/art-room.png" />
    </a>
  </div>
  <div class="right-bar">
    <div class="main-text">
      <a
        >Искусство должно быть чем–то, что освобождает вашу душу, пробуждает воображение и побуждает людей идти дальше</a
      >
    </div>
  </div>
</div>
<div style="clear: both"></div>
<div class="ornament-main">
  <img
    class="ornament"
    src="static/files/ornament-1.png"
  />
</div>
<div class="main-news-block">
  {% for p in news %}
  <div class="news">
    <div class="news-text"><div class="news-text_text">{{ p.text }}</div>
      <div class="news-text_date"><br />Опубликовано: {{ p.dt }}</div>
    </div>
    <div class="news-image">
      <a href="/showpreview/post_{{p.post_id}}">
        <img
          src="/showpreview/post_{{p.post_id}}" alt=""
        />
      </a>
    </div>
  </div>
  {% endfor %}
</div>


<div class="final-div"></div>
{% endblock %}
